<div class="footer-modal">
    <div class="student student-img1">
        <div class="student-float">
            <span class="student-name">Anton Zavalniuk</span>
            <span class="student-work">Team Lead</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://www.instagram.com/zavalniukanton/" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.facebook.com/anton.zavalniuk" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.linkedin.com/in/anton-zavalniuk-969328202/" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img2">
        <div class="student-float">
            <span class="student-name">Aleksandr Kasyan</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://www.instagram.com/vsenamnogoproshe/" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.facebook.com/profile.php?id=100015199141489" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.linkedin.com/in/aleksandr-kasian-0310/" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img3">
        <div class="student-float">
            <span class="student-name">Tetyana Redka</span>
            <span class="student-work">SCRUM Master</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img4">
        <div class="student-float">
            <span class="student-name">Denis Danileyan</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img5">
        <div class="student-float">
            <span class="student-name">Pavel Denisov</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img6">
        <div class="student-float">
            <span class="student-name">Ulan Temirbekov</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>