<div class="footer-modal">
    <div class="student student-img1">
        {{!-- <img src="/images/antonzavalnuk.jpg" alt="antonzavalniuk" class="student-img"> --}}
        <div class="student-float">
            <span class="student-name">Anton Zavalniuk</span>
            <span class="student-work">Team Lead</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://www.instagram.com/zavalniukanton/" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.facebook.com/anton.zavalniuk" class="social-list-link target=" _blank"">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.linkedin.com/in/anton-zavalniuk-969328202/" class="social-list-link"
                        target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img2">
        {{!-- <img src="/images/aleksandrkasyan.png" alt="aleksandrkasyan" class="student-img"> --}}
        <div class="student-float">
            <span class="student-name">Aleksandr Kasyan</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://www.instagram.com/vsenamnogoproshe/" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.facebook.com/profile.php?id=100015199141489" class="social-list-link"
                        target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.linkedin.com/in/aleksandr-kasian-0310/" class="social-list-link"
                        target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img3">
        {{!-- <img src="/images/tetyanaredka.png" alt="tetyanaredka" class="student-img"> --}}
        <div class="student-float">
            <span class="student-name">Tetyana Redka</span>
            <span class="student-work">SCRUM Master</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img4">
        {{!-- <img src="/images/denisdanielyan.jpg" alt="denisdanielyan" class="student-img"> --}}
        <div class="student-float">
            <span class="student-name">Denis Danileyan</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://www.instagram.com/d3n1x/" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.facebook.com/profile.php?id=100016457342877" class="social-list-link"
                        target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img5">
        {{!-- <img src="/images/paveldenisov.jpg" alt="paveldenisov" class="student-img"> --}}
        <div class="student-float">
            <span class="student-name">Pavel Denisov</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.facebook.com/DenisovPP" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="student student-img6">
        {{!-- <img src="/images/ulantemirbekov.png" alt="ulantemirbekov" class="student-img"> --}}
        <div class="student-float">
            <span class="student-name">Ulan Temirbekov</span>
            <span class="student-work">Developer</span>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="#" class="social-list-link" target="_blank">
                        <svg class="social-list-svg">
                            <use href="{{this}}#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>