<div class="header-nav">
    <div id='header-logo' class='header-logo'>
        <svg class="header-logo-icon">
            <use href="{{this}}#film"></use>
        </svg>
        <h1 class="header-logo-name">Filmoteka</h1>
    </div>

    <div class="btn-header-aut">
        <button type="button" id="buttonModHeader" class="lbr-button btn-modal-registr">войти</button>
        <button type="submit" id="auth-out" class="lbr-button">выйти</button>
    </div>

    <div class="header-nav-form">
        {{!-- <p>Приветствую тебя <span>{{name}}</span></p> --}}
        <button id='home' class='lbr-button lbr-button-active'>Home</button>
        <button id='my-library' class='lbr-button'>my library</button>
        {{!-- <button id='search' class='lbr-button'>search</button> --}}
    </div>

</div>


<div class="header-search-block">
    <div id="header-search-form">
        <form class="header-search-form" action="">
            <input class='header-search-form-input' type="text" placeholder="Поиск фильмов" name="query" />
            <svg class="search-icon">
                <use href="{{this}}#search-2"></use>
            </svg>
        </form>
    </div>
    {{!-- <div id='auth-div'>
        <form action="" id='auth-form' name='auth'>
            <input type="text" name="name">
            <input type="text" name="email">
            <input type="text" name='password'>
            <button type="submit" id='auth-send'>зарегистрироваться</button>
            <button type="submit" id='auth-get'>войти</button>
            <button type="submit" id='auth-out'>выйти</button>
        </form>
    </div> --}}

    <div id='lbr-buttons' class='is-hidden'>
        <button id='watched' class='btn-base'>Watched</button>
        <button id='queue' class='btn-base'>queue</button>
    </div>

    {{!-- <div class="switch-box">
        <span class="toggle"></span>
        <svg class="flag-russia">
            <use href="{{this}}#icon-russia"></use>
        </svg>
        <div class="leng-switch__control">
            <input class="leng-switch__toggle" type="checkbox" name="leng" id="leng-switch-toggle"
                aria-label="Переключить между тёмной и светлой темой" />
            <label aria-hidden="true" class="leng-switch__track" for="leng-switch-toggle">
            </label>
            <div aria-hidden="true" class="leng-switch__marker"></div>
        </div>
        <svg class="flag-en">
            <use href="{{this}}#icon-united-kingdom"></use>
        </svg>
    </div> --}}

</div>